.rmdb-loadmorebtn {
  background: #1642d4;
  width: 35%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  margin: 0 auto;
}

.rmdb-loadmorebtn p {
  font-family: 'Abel', sans-serif;
  font-size:25px;
  padding: 12px 0;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}