.rmdb-header {
   width: 100%;
   height: auto;
   background: #1c1c1c;
 }
 
 .rmdb-header-content {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 h2 {
   color: white;
 }
 
 .rmdb-logo {
   width: 250px;
   cursor: pointer;
 }
 
 .rmdb-tmdb-logo {
   width: 122px;
 }
 /* Pantallas pequeñas a 500px */
 @media screen and (max-width: 500px) {
   .rmdb-header-content {
     max-width: 1280px;
     min-height: 50px;
   }
 
   .rmdb-tmdb-logo {
     display: inline-block;
     width:80px;
   }
 
   .rmdb-logo {
     width: 150px;
   }
 }