.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-radius: 28.5px;
  color: #7F7F7F;
  font-size: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-25px);
}

.form-text {
  border: none;
  width: 180px;
  color: #7F7F7F;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}

.form-text:focus {
  outline: none;
}

.btn {
  background: #5d6ada;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  line-height: 1;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
/* Pantallas grandes */
@media(min-width: 768px) {
  .form {
    margin: 0 auto;
    max-width: 720px;
  }
}