.rmdb-movieinfobar {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: auto;
  background: #1c1c1c;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.rmdb-movieinfobar-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.rmdb-movieinfobar-content-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rmdb-movieinfobar-info {
  padding-left: 8px;
}


@media screen and (max-width: 425px) {
  .rmdb-movieinfobar {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .fa-time, .fa-revenue, .fa-budget {
    display: none;
  }
}